---
// src/components/Footer.astro
---
<footer class="footer">
    <div class="container footer-container">
      <p>© 2025 AGWS. Tous droits réservés.</p>
      <nav class="footer-nav">
        <ul>
          <li><a href="/terms">Mentions légales</a></li>
          <li><a href="/privacy">Politique de confidentialité</a></li>
        </ul>
      </nav>
    </div>
  </footer>